@page "/Management"
@inject IEditFileSession Session

@if (!Session.CanEdit) {
    <p><em>Save file not loaded.</em></p>
}
else if (!Session.Game.Management.IsSupported) {
    <p><em>Not available.</em></p>
}
else {
    <TabControl StartIndex="0">
        @if (Session.Game.Management.Overview is not null) {
            <Tab Name="@Session.Game.Management.Overview.Name">
                <Content>
                    <GameData Data="Session.Game.Management.Overview" ShowHeader="false"></GameData>
                </Content>
            </Tab>
        }
        @if (Session.Game.Management.Resources is not null) {
            <Tab Name="@Session.Game.Management.Resources.Name">
                <Content>
                    <GameData Data="@Session.Game.Management.Resources" ShowHeader="false"></GameData>
                </Content>
            </Tab>
        }
        @if (Session.Game.Management.Members?.Count > 0) {
            <Tab Name="@Session.Game.Management.MemberTypeName.Plural">
                <Content>
                    <GeneralsView />
                </Content>
            </Tab>
        }
        @if (Session.Game.Management.Armies?.Count > 0) {
            <Tab Name="Armies">
                <Content>
                    <ArmiesView />
                </Content>
            </Tab>
        }
        @if (Session.Game.Management.Tasks?.Count > 0) {
            <Tab Name="Tasks">
                <Content>
                    <TasksView />
                </Content>
            </Tab>
        }
        @if (Session.Game.Management.Places is not null) {
            <Tab Name="@Session.Game.Management.Places.Name">
                <Content>
                    <GameData Data="@Session.Game.Management.Places" ShowHeader="false"></GameData>
                </Content>
            </Tab>
        }
    </TabControl>
}
