@inject EditorConfiguration ConfigurationProvider
@inject IJSRuntime JSRuntime
<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code {
    protected override async Task OnInitializedAsync()
    {
        await ConfigurationProvider.InitializeAsync();
        Logger.UseDeferred((o, t) => {
            switch (t) {
                case LogEventType.Error:
                    JSRuntime.InvokeVoidAsync("console.error", o);
                    break;
                case LogEventType.Warning:
                    JSRuntime.InvokeVoidAsync("console.warning", o);
                    break;
                default:
                    JSRuntime.InvokeVoidAsync("console.log", o);
                    break;
            }
        });
    }
}