@page "/Kingdom"
@using System.IO
@inject MainViewModel Model

@if (!Model.CanEdit) {
    <p><em>Save file not loaded.</em></p>
}
else if(!Model.Player.IsKingdomEnabled) {
    <p><em>Kingdom is not enabled.</em></p>
}
else {
    <div class="row g-3">
        <div class="col-md-3">
            <label class="form-label">Current Turn</label>
            <input class="form-control" type="number" @bind="Data.CurrentTurn" />
        </div>
    </div>

    <div class="row g-3">
        <h3 class="col-md-12">Attributes</h3>
    </div>
    <div class="row g-3">
        <div class="col-md-4 form-list-header">
            <label class="form-label">Type</label>
        </div>
        <div class="col-md-2 form-list-header">
            <label class="form-label">Rank</label>
        </div>
        <div class="col-md-2">
            <label class="form-label">Value</label>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    @foreach (var attr in Data.Stats.Attributes) {
        <div class="row g-3">
            <div class="col-md-4">
                <label class="form-label">@attr.Type</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="number" @bind="@attr.Rank" />
            </div>
            <div class="col-md-2">
                <input class="form-control" type="number" @bind="@attr.Value" />
            </div>
            <div class="col-md-2">
            </div>
        </div>
    }

    @if (Data.MoraleState != null) {
    <div class="row g-3">
        <h3 class="col-md-12">Morale</h3>
    </div>
    <div class="row g-3">
        <div class="col-md-3">
            <label class="form-label">Current</label>
            <input class="form-control" type="number" @bind="Data.MoraleState.CurrentValue" />
        </div>
        <div class="col-md-3">
            <label class="form-label">Min</label>
            <input class="form-control" type="number" @bind="Data.MoraleState.MinValue" />
        </div>
        <div class="col-md-3">
            <label class="form-label">Max</label>
            <input class="form-control" type="number" @bind="Data.MoraleState.MaxValue" />
        </div>
    </div>
    }

    <div class="row g-3">
        <h3 class="col-md-12">Resources</h3>
    </div>
    <div class="row g-3">
        <div class="col-md-3">
            <label class="form-label">Finances</label>
            <input class="form-control" type="number" @bind="@Data.Resources.Finances" />
        </div>
        <div class="col-md-3">
            <label class="form-label">Materials</label>
            <input class="form-control" type="number" @bind="@Data.Resources.Materials" />
        </div>
        <div class="col-md-3">
            <label class="form-label">Energy</label>
            <input class="form-control" type="number" @bind="@Data.Resources.Favors" />
        </div>
    </div>
}

@code {
    private PlayerKingdomModel Data;

    protected override async Task OnInitializedAsync()
    {
        Data = Model.Player?.Kingdom;
    }
}