@page "/Settings"
@inject SettingsViewModel Model
@inject StateManager State

<fieldset class="form-controller" disabled="@State.IsBusy">

<div>
    <p class="alert alert-info">Changing the settings will take effect immediately after your save.</p>
</div>
<div>
    <button class="btn btn-info" @onclick="SaveFile">
        <span class="oi oi-data-transfer-download"></span>
        Save
    </button>
</div>
<hr />

<div class="row g-3">
    <div class="col-md-12">
        <h3>File System</h3>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-12">
        <label class="form-label">App Data Folder</label>
        <div class="input-group mb-3">
            <div class="btn @(IsValidAppDataFolder ? "btn-success": "btn-default")">
                <span class="oi @(IsValidAppDataFolder ? "oi-thumb-up" : "oi-thumb-down")"></span>
            </div>
            <input class="form-control" type="text" @bind="@Model.Config.AppDataFolder" />
            <button class="btn btn-info" @onclick="SelectAppDataFolder">...</button>
        </div>
        <p>The path to the application data folder. There should be 2 folders inside ("Saved Games" and "Portraits").</p>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-12">
        <label class="form-label">Game Folder</label>
        <div class="input-group">
            <div class="btn @(IsValidGameFolder ? "btn-success": "btn-default")">
                <span class="oi @(IsValidGameFolder ? "oi-thumb-up" : "oi-thumb-down")"></span>
            </div>
            <input class="form-control" type="text" @bind="@Model.Config.GameFolder" />
            <button class="btn btn-info" @onclick="SelectGameFolder">...</button>
        </div>
        <p>The path to the game folder where the game is installed.
            Setting this will enable the editor to access game resources directly.
            It's used to look up names of items and more.
        </p>
    </div>
</div>

@if (Model.HasUnsavedConfigChanges){
    <div>
        <p class="alert alert-warning">You have unsaved changes.</p>
    </div>
}

</fieldset>

@code {

    protected override async Task OnInitializedAsync()
    {
        await State.ExecuteAsync(async () => {
            await Model.InitializeAsync();
        });
    }

    async Task SelectAppDataFolder()
    {
        await State.ExecuteAsync(async () => {
            var window = ElectronNET.API.Electron.WindowManager.BrowserWindows.First();
            var options = new ElectronNET.API.Entities.OpenDialogOptions {
                Title = "Select the app data folder",
                Properties = new[] { ElectronNET.API.Entities.OpenDialogProperty.openDirectory},
                DefaultPath = Model.Config.AppDataFolder
            };
            var files = await ElectronNET.API.Electron.Dialog.ShowOpenDialogAsync(window, options);
            var file = files?.FirstOrDefault();
            if (!string.IsNullOrEmpty(file)) {
                Model.Config.AppDataFolder = file;
            }
        });
    }

    async Task SelectGameFolder()
    {
        await State.ExecuteAsync(async () => {
            var window = ElectronNET.API.Electron.WindowManager.BrowserWindows.First();
            var options = new ElectronNET.API.Entities.OpenDialogOptions {
                Title = "Select the game folder",
                Properties = new[] { ElectronNET.API.Entities.OpenDialogProperty.openDirectory},
                DefaultPath = Model.Config.GameFolder
            };
            var files = await ElectronNET.API.Electron.Dialog.ShowOpenDialogAsync(window, options);
            var file = files?.FirstOrDefault();
            if (!string.IsNullOrEmpty(file)) {
                Model.Config.GameFolder = file;
            }
        });
    }

    private bool IsValidGameFolder => Model.ValidateGameFolder();
    private bool IsValidAppDataFolder => Model.ValidateAppDataFolder();

    async Task SaveFile()
    {
        await State.ExecuteAsync(async () => {
            await Model.SaveConfigAsync();
        });
    }
}
